<!-- Record Table-->
<section id="SearchComponentSection">
  <!-- Search Field-->
  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Search card fields -->
      <form class="form-inline" [formGroup]="searchCriteriaForm" (ngSubmit)="onSearch()">
        <div class="form-group px-1">
          <label class="control-label pr-1" for="criteria">Search By</label>
          <select formControlName="searchCriteria" class="form-control" id="searchCriteria">
            <option>First Name</option>
            <option>Last Name</option>
          </select>
        </div>

        <div class="form-group px-1">
          <input type="text" formControlName="searchValue" class="form-control" id="value" placeholder="Value">
        </div>

        <div class="form-group px-2">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Search Patient
        </button>
        </div>
      </form>
    </div>
  </div>


  <!-- Search Result Table-->
  <div class="row">
    <div class="col-lg-12 mb-4"> 
      <r3app-alert></r3app-alert>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Gender</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Verified</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" colspan="6" *ngIf="(searchedUsers.length == 0)">No records found</td>
          </tr>
          <tr *ngFor="let user of searchedUsers">
            <th scope="row">{{user.userInfo.username}}</th>
            <td>{{user.userInfo.firstName}}</td>
            <td>{{user.userInfo.lastName}}</td>
            <td>{{user.userInfo.gender}}</td>
            <td>(+63) 920 888 9000</td>
            <td>{{user.verified}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>


</section>