<nav class="navbar navbar-expand-md bg-primary sticky-top">
    <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
    <div class="navbar-toggler-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse flex-column" id="navbar">

    
      <ul class="navbar-nav w-100 px-3">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="#">Brand Logo<span class="sr-only">(current)</span></a>
        </li>
      </ul>
  
      <ul class="navbar-nav justify-content-end w-100 bg-secondary px-0">
        
        <!-- 
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Welcome, User<span class="sr-only">(current)</span></a>
        </li>

      -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>