<div id="sidebar" class="sidebar py-3">

    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Manage Patient</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted active"><i class="o-home-1 mr-3 text-gray"></i><span>Search Patient</span></a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/manageAppointment" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Manage Appointments</span></a>
        </li>
        <li class="sidebar-list-item">
            <a [routerLink]="['/messages']" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>My Messages</span></a>
        </li>
    </ul>

    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Manage Settings</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Appointments</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Work Schedules</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Messages</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Reports</span></a>
        </li>
    </ul>

    <!-- Accessibe only by users-->
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Patient Portal</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>My Profile</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Make Appointment</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Manage Insurance</span></a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>My Notifications</span></a>
        </li>
    </ul>


</div>